.about {
    background-image: url('../../images/about.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
  }
  
  .about-header{
      font-size: 100px;
  }

  @media only screen and (max-width: 1366px) {
    .about {
      background-attachment: scroll;
    }
}